*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app{
    background-image: url('https://images.pexels.com/photos/436792/pexels-photo-436792.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease;
}
.app-warm{
    background-image: url('https://media.istockphoto.com/id/1254065595/photo/hot-summer-or-heat-wave-background.webp?b=1&s=170667a&w=0&k=20&c=3pJ8IywW-9H-bcZ2XNGG0EaKwYiWD3XdMLC-mAC6dFI=');

}

main{
    min-height: 100vh;
    padding: 25px;
}

.search-box{
    width: 100%;
    margin:  0 0 75px;
}

.search-box .search-bar{
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    outline: none;

    background-color: rgba(255,255,255,0.5);
    border-radius: 0px 0px 16px 16px ;
    margin-top: -25px;
    box-shadow: 0px 5px black;

    color: #313131;
    font-size: 20px;
    transition: 0.4s ease;
}

.search-box .search-bar:focus{
    background-color: rgba(255,255,255,0.75);
}

.location-box .location{
    color: #fff;
    font-size: 32px;
}